envs:
  - key: SECRET_KEY
    scope: RUN_TIME
    type: SECRET
    value: "your-secret-key"
  - key: DB_PASS
    scope: RUN_TIME
    type: SECRET
    value: "your-db-password"
  - key: AWS_SECRET_ACCESS_KEY
    scope: RUN_TIME
    type: SECRET
    value: "your-spaces-secret"
