{% load author %}

<article class="h-entry entry-article">
  <header class="entry-header">
    <a class="u-url" href="/blog/post/{{ post.slug }}">
      <h1 class="p-name">{{ post.title }}</h1>
    </a>

    <div class="entry-meta">
      <span class="p-author h-card">{% author_hcard_name post.author %}</span>
      <time class="dt-published" datetime="{{ post.published_on }}">
        {{ post.published_on|date:"Y-m-d" }}
      </time>
    </div>
  </header>

  <div class="e-content">
    {{ post.html }}
  </div>

  {% include 'blog/tags.html' %}
</article>
