{% extends "base.html" %}
{% load static %}

{% block head %}
  {{ block.super }}
  {% if has_activity %}
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
      defer
    ></script>
    <script src="{% static 'js/activity_map.js' %}" defer></script>
  {% endif %}
{% endblock %}

{% block content %}
  <header class="section-header">
    <h1>Tag: {{ tag }}</h1>
  </header>

  <section class="h-feed">
    {% for post in posts %}
      {% if post.kind == 'note' %}
        {% include 'blog/note.html' %}
      {% elif post.kind == 'photo' %}
        {% include 'blog/photo.html' %}
      {% elif post.kind == 'activity' %}
        {% include 'blog/activity-summary.html' %}
      {% else %}
        {% include 'blog/article-summary.html' %}
      {% endif %}
    {% endfor %}
  </section>

  <nav class="paginator" aria-label="Pagination">
    {% if posts.has_previous %}
    <a class="pagination-item" href="?page={{ posts.previous_page_number }}">Newer</a>
    {% endif %}
    <span class="pagination-item pagination-status">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
    {% if posts.has_next %}
    <a class="pagination-item" href="?page={{ posts.next_page_number }}">Older</a>
    {% endif %}
  </nav>
{% endblock %}
