{% extends "base.html" %} {% load static %} {% block content %}
<div class="block h-card">
  <section class="author">
    <aside>
      <figure class="author-image-container">
        <img
          class="u-photo"
          alt="Aaron Crowder avatar"
          src="{% static 'space.jpeg' %}"
          height="90"
          width="90"
        />
      </figure>
    </aside>
    <div class="author-box">
      <div class="author-intro">{{ settings.intro }}</div>
      <div class="author-bio p-note">{{ settings.bio }}</div>
    </div>
		<div class="elsewhere">
		{% for profile in elsewhere %}
			<a
				class="elsewhere-link"
				target="_blank"
				rel="me"
				href="{% if profile.place == 'email' %}mailto:{{ profile.profile_url }}{% else %}{{ profile.profile_url }}{% endif %}">
        {% if profile.place == 'x' %}
          {% include 'core/svg/twitter.svg' %}
        {% elif profile.place == 'bsky' %}
          {% include 'core/svg/bluesky.svg' %}
        {% elif profile.place == 'email' %}
          {% include 'core/svg/email.svg' %}
        {% elif profile.place == 'mastodon' %}
          {% include 'core/svg/mastodon.svg' %}
        {% elif profile.place == 'github' %}
          {% include 'core/svg/github.svg' %}
        {% elif profile.place == 'instagram' %}
          {% include 'core/svg/instagram.svg' %}
        {% else %}
          {{ profile.place }}
        {% endif %}
			</a>
		{% endfor %}
		</div>
  </section>
</div>
<div class="h-feed">
  <h3>Recent Blog Posts</h3>
  <ul>
    {% for post in recent_posts %}
    <li class="h-entry">
      <time class="dt-published" datetime="{{ post.published_on }}">
        {{ post.published_on|date:"Y-m-d" }}
      </time>
      <a class="u-url" href="/blog/post/{{ post.slug }}">
        <span class="p-name">{{ post.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
