{% extends "base.html" %} {% load static %} {% block content %}
<div class="block h-card">
  <section class="author">
    <aside>
      <figure class="author-image-container">
        <img
          class="u-photo"
          alt="{{ site_author_display_name|default:settings.title|default:'Site author' }} avatar"
          src="{% static 'space.jpeg' %}"
          height="90"
          width="90"
        />
      </figure>
    </aside>
    <div class="author-box">
      {% if site_author_hcard and site_author_hcard.note_html %}
      <div class="author-bio p-note">{{ site_author_hcard.note_html }}</div>
      {% endif %}
    </div>
		{% if site_author_hcard %}
		<div class="elsewhere">
		{% for profile in site_author_hcard.urls.all %}
			<a
				class="elsewhere-link"
				target="_blank"
        rel="me {% if profile.kind == 'bsky' %}atproto{% endif %}"
				href="{{ profile.href }}">
        {% if profile.kind == 'x' %}
          {% include 'core/svg/twitter.svg' %}
        {% elif profile.kind == 'bsky' %}
          {% include 'core/svg/bluesky.svg' %}
        {% elif profile.kind == 'email' %}
          {% include 'core/svg/email.svg' %}
        {% elif profile.kind == 'mastodon' %}
          {% include 'core/svg/mastodon.svg' %}
        {% elif profile.kind == 'github' %}
          {% include 'core/svg/github.svg' %}
        {% elif profile.kind == 'instagram' %}
          {% include 'core/svg/instagram.svg' %}
        {% elif profile.kind == 'other' %}
          {% include 'core/svg/globe.svg' %}
        {% else %}
          {{ profile.kind }}
        {% endif %}
			</a>
		{% endfor %}
		</div>
		{% endif %}
  </section>
</div>
<div class="h-feed">
  <h3>Recent Blog Posts</h3>
  <ul>
    {% for post in recent_posts %}
    <li class="h-entry">
      <time class="dt-published" datetime="{{ post.published_on }}">
        {{ post.published_on|date:"Y-m-d" }}
      </time>
      <a class="u-url" href="/blog/post/{{ post.slug }}">
        <span class="p-name">{{ post.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
