{% load author %}

{% with activity=post.activity %}
<article class="h-entry entry-activity">
  <a class="u-uid" href="{% url 'post' slug=post.slug %}" hidden></a>

  <header class="entry-header">
    {% if activity.name %}
    <p class="activity-kicker p-category">{{ activity.name }}</p>
    {% endif %} {% if post.title %}
    <a class="u-url" href="{% url 'post' slug=post.slug %}">
      <h3 class="p-name">{{ post.title }}</h3>
    </a>
    {% endif %}
  </header>

  {% include 'blog/_photo_gallery.html' with photos=post.activity_photos activity=activity %}

  <div class="e-content">{{ post.html }}</div>
  {% include 'blog/tags.html' %}
  <div class="entry-meta">
    <a class="u-url" href="{% url 'post' slug=post.slug %}">
      <time class="dt-published" datetime="{{ post.published_on|date:"c" }}">
        {{ post.published_on|date:"Y-m-d" }}
      </time>
    </a>
    <span class="p-author h-card">{% author_hcard_name post.author %}</span>
  </div>
</article>
{% endwith %}
